@media (min-width: 768px) and (max-width: 1020px) {
  header {
    height: 22vw;
    width: 100%;
    background-color: #212121;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .hamburger {
    height: 3.5vh;
    z-index: 7;
    z-index: 16;
    display: block;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .hamburger .l1, .hamburger .l2, .hamburger .l3 {
    width: 7vw;
    height: 3px;
    border-radius: 5px;
    background-color: #FFFFFF;;
  }
  .rotation {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
  }
  .navigation {
    display: none;
    z-index: 16;
  }
  nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    height: 50.5vh;
    width: 48vw;
    font-size: 4vw;
    background-color: rgb(3, 3, 3, .9);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 16;
    box-shadow:  0 0 12px 14px black;
    border-radius: 3px;
  }
  nav li {
    text-align: center;
  }
  /* nav li:nth-child(1) {
    margin-top: 40px;
  } */
  nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .bold {
      display: none;
  }
  #main {
      width: 75vw;
      margin: 0vh 0 0vh 0;
  }   
  #main div {
    padding-right: 0;
  }
  .logo h1{
      color: #ff3448;
      font-size: 6vw;
      font-weight: 900;
      letter-spacing: .05em;
  }
  .logo h2 {
    font-size: 2vw;
  }
  h2 {
      font-size: 2.5vw;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .05em;
  }
  .logo_miner {
    z-index: 9;
    width: 5.5vw;
  } 
  .logo_miner:hover {
      transform: scale(0.9);
      transition: all 0.75s ease;
      /* transform: skewX(15deg); */
  }
  .logo_dtek {
      display: none;
      width: auto;
      background-color: #ffffff;
      margin: 0 auto;
      margin-top: 65px;
      height: 3.5vh;
      overflow: hidden;
  }
  .logo_dtek img {
      width: auto;
      height: 3.5vh;
  }
  .other2 {
    z-index: 9;
    display: block;
  }
  .logo_md {
      width: auto;
      height: 15vh;
      overflow: hidden;
  }
  .nedra {
      width: 100%;
      height: 78vh;
      margin-top: 22vw;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(img/regnum_picture_1574054381425780_normal.jpg);
  }
  /*Анимация блока nedra*/
  .nedra {
    animation: slidesow 20s linear infinite 1s;
    backface-visibility: hidden;
  }
  @-webkit-keyframes slidesow {
    0%
    {
      background-image: url(img/regnum_picture_1574054381425780_normal.jpg);
      animation-timing-function: ease-in-out;
    }
    25%
    {
      background-image: url(img/LkU\ 7168.jpg);
      animation-timing-function: ease-in-out;
    }
    50%
    {
      background-image: url(img/LkU\ 7162.jpg);
      animation-timing-function: ease-in-out;
    }
    75%
    {
      background-image: url(img/LkU\ 7178.jpg);
      animation-timing-function: ease-in-out;
    }
    100%
    {
      background-image: url(img/LkU\ 7177.jpg);
      animation-timing-function: ease-in-out;
    }
  }
  
  /* .nedra img {
      max-width: 100%;
      width: 100%;
      height: auto;
  } */
  #information {
    width: 100%;
  }
  #information div img {
    height: auto;
    width: 25%;
  }
  #information div {
    width: 80vw;
    margin-bottom: 2vh;
  }
  #information p {
    width: 70%;
    font-size: 4.5vw;
  }
  #rules {
    color: #ffffff;
    background-color: #1c1c1c;
    /* padding: 5vh 8vw 0 8vw; */
    width: 100%;
  }
  #rules h2{
    text-align: center;
    font-weight: 700;
    font-size: 7vw;
    text-shadow: 0 0 17px rgb(253, 246, 246);
    margin-bottom: 0;
  }
  #rules div {
    width: 100vw;
    padding: 4vh 4vw 4vh 4vw;
    height: auto;
  }
  #rules p {
    margin: 0 4vw 0 4vw;
    text-indent: 6vw;
    font-size: 4vw;
  }
  #rules .temperant {
    margin: 0 0 0 0;
    height: auto;
    padding: 3vh 15vw 3vh 15vw;
}
  .pullUp, .burpee {
    background-color: #303030;
  }
  #rules .burpee {
    height: auto;
  }
  #rules div img {
    width: 15vw;
    border-radius: 50%;
    margin-right: 3vw;
  }
  #rules div img:hover {
    transition: all 0.75s ease;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -o-transform-origin: center center;
      -ms-transform-origin: center center;
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
  }
  
  .effekt {
    transition: all 1.5s ease;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -o-transform-origin: center center;
      -ms-transform-origin: center center;
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
  }
  
  #contakt {
    padding-top: 3vh;
    background-color: #f0c33d;
  }
  #contakt h2{
    text-align: center;
    font-size: 7vw;
    font-weight: 700;
    text-shadow: 0 0 2px black;
  }
  #contakt h3{
    text-align: center;
    font-weight: 500;
    font-size: 4.2vw;
    margin-bottom: 1.5vh;
  }
  #contakt .bolt {
    font-weight: 700;
  }
  #contakt div {
    width: auto;
    margin-bottom: 2vh;
  }
  #contakt div img {
    height: 17vh;
    width: 12vw;
    margin-top: 2vh;
  }
  .strelka {
    transform: scale(1);
    cursor: pointer;
    transition: all 1.5s ease;
}
  #contakt button {
    height: 15vw;
    width: 50vw;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 4vw;
    box-shadow: inset -4px 4px black;
  }
  #contakt p {
    margin-top: 2vh;
    text-align:  center;
    font-size: 3.4vw;
  }
  #contakt a {
    text-decoration: none;
    color: #030303;
    font-size: 6vw;
    font-weight: 700;
  }
  #contakt img {
    height: 7vh;
    margin-right: 2vw;
  }
  #contakt .end {
    margin-top: 0;
  }
  footer {
    background-color: #0d0c0c;
    height: 14vh;
    padding: 0 8vw 0 8vw;
    color: #ffffff;
    font-size: 3.5vw;
  }
  footer .small {
    font-size: 2vw;
  }
  footer img {
    height: 5vh;
  }
  .md {
      font-size: 3vw;
  }
  .logoDtek {
    height: 1.5vh;
    position: relative;
    top: -13px;
    right: -75px;
    display: none;
}
  .cop p {
    line-height: 35%;
  }
  /* Начало стилей для формы регистрации */
  #black_fill {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
    #white_fill {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;
      background-color: rgba(0, 0, 0, 0);
      display: none;  
    }
  #modal_box {
    display: none;
    position: fixed;
    top: 15vh;
    width: 80%;
    left: calc(50% - 40vw);
    z-index: 21;
  }
  #close_modal {
    width: 6vw;
    height: 6vw;
    fill: #fff;
    position: absolute;
    top: -6vw;
    right: -6vw;
    cursor: pointer;
    z-index: 21;
  }
  .login_box {
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 30px;
  }
  .login_box form {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
  .form a {
    color: #ffc61a;
  }
  .login_label {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 22px;
  }
  .input, .select {
    width: 100%;
    margin-bottom: 5vh;
    text-align: center;
  }
  .input input, .select select {
    height: 5vh;
    width: 100%;
    border-radius: 16px;
    background-color: rgba(195, 195, 195, 1.00);
    transition: all 35ms linear;
    border: none;
    text-align: center;
  }
  .input button {
    width: 55%;
  }
  .input input:focus {
    transform: scale(1.05);
    outline: rgba(255, 162, 84, 1.00);
    background-color: #fff;
    transition: all 35ms linear;
  }
  .input button:hover {
    transition: all 35ms linear;
    transform: scale(1.05);
  }
  .btn1 {
    border: none;
    cursor: pointer;
  }
  .send {
    background-color: rgba(244, 115, 41, 1.00);
    color: #fff;
    height: 7vh;
    border-radius: 16px;
    width: 90%;
    transition: all 35ms linear;
  }
  /* Конец стилей для формы отправки коментария */


}
    
    
@media (min-width: 375px) and (max-width: 767px) {
      
    header {
    height: 22vw;
    width: 100%;
    background-color: #212121;
    position: fixed;
    top: 0;
    z-index: 15;
  }
  .hamburger {
    height: 3.5vh;
    z-index: 7;
    z-index: 16;
    display: block;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .hamburger .l1, .hamburger .l2, .hamburger .l3 {
    width: 7vw;
    height: 3px;
    border-radius: 5px;
    background-color: #FFFFFF;;
  }
  .rotation {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
  }
  .navigation {
    display: none;
    z-index: 16;
  }
  nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
    height: 50.5vh;
    width: 48vw;
    font-size: 4vw;
    background-color: rgb(3, 3, 3, .9);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 16;
    box-shadow:  0 0 12px 14px black;
    border-radius: 3px;
  }
  nav li {
    text-align: center;
  }
  /* nav li:nth-child(1) {
    margin-top: 40px;
  } */
  nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .bold {
      display: none;
  }
  #main {
      width: 75vw;
      margin: 0vh 0 0vh 0;
  }   
  #main div {
    padding-right: 0;
  }
  .logo h1{
      color: #ff3448;
      font-size: 6vw;
      font-weight: 900;
      letter-spacing: .05em;
  }
  .logo h2 {
    font-size: 2vw;
  }
  h2 {
      font-size: 2.5vw;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .05em;
  }
  .logo_miner {
    z-index: 9;
    width: 5.5vw;
  } 
  .logo_miner:hover {
      transform: scale(0.9);
      transition: all 0.75s ease;
      /* transform: skewX(15deg); */
  }
  .logo_dtek {
      display: none;
      width: auto;
      background-color: #ffffff;
      margin: 0 auto;
      margin-top: 65px;
      height: 3.5vh;
      overflow: hidden;
  }
  .logo_dtek img {
      width: auto;
      height: 3.5vh;
  }
  .other2 {
    z-index: 9;
    display: block;
  }
  .logo_md {
      width: auto;
      height: 15vh;
      overflow: hidden;
  }
  .nedra {
      width: 100%;
      height: 43vh;
      margin-top: 22vw;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(img/regnum_picture_1574054381425780_normal.jpg);
  }
  /*Анимация блока nedra*/
  .nedra {
    animation: slidesow 20s linear infinite 1s;
    backface-visibility: hidden;
  }
  @-webkit-keyframes slidesow {
    0%
    {
      background-image: url(img/regnum_picture_1574054381425780_normal.jpg);
      animation-timing-function: ease-in-out;
    }
    25%
    {
      background-image: url(img/LkU\ 7168.jpg);
      animation-timing-function: ease-in-out;
    }
    50%
    {
      background-image: url(img/LkU\ 7162.jpg);
      animation-timing-function: ease-in-out;
    }
    75%
    {
      background-image: url(img/LkU\ 7178.jpg);
      animation-timing-function: ease-in-out;
    }
    100%
    {
      background-image: url(img/LkU\ 7177.jpg);
      animation-timing-function: ease-in-out;
    }
  }
  
  /* .nedra img {
      max-width: 100%;
      width: 100%;
      height: auto;
  } */
  #information {
    width: 100%;
  }
  #information div img {
    height: auto;
    width: 25%;
  }
  #information div {
    width: 80vw;
    margin-bottom: 2vh;
  }
  #information p {
    width: 70%;
    font-size: 4.5vw;
  }
  #rules {
    color: #ffffff;
    background-color: #1c1c1c;
    /* padding: 5vh 8vw 0 8vw; */
    width: 100%;
  }
  #rules h2{
    text-align: center;
    font-weight: 700;
    font-size: 7vw;
    text-shadow: 0 0 17px rgb(253, 246, 246);
    margin-bottom: 0;
  }
  #rules div {
    width: 100vw;
    padding: 4vh 4vw 4vh 4vw;
    height: auto;
  }
  #rules p {
    margin: 0 4vw 0 4vw;
    text-indent: 6vw;
    font-size: 4vw;
  }
  #rules .temperant {
    margin: 0 0 0 0;
    height: auto;
    padding: 3vh 15vw 3vh 15vw;
}
  .pullUp, .burpee {
    background-color: #303030;
  }
  #rules .burpee {
    height: auto;
  }
  #rules div img {
    width: 15vw;
    border-radius: 50%;
    margin-right: 3vw;
  }
  #rules div img:hover {
    transition: all 0.75s ease;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -o-transform-origin: center center;
      -ms-transform-origin: center center;
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
  }
  
  .effekt {
    transition: all 1.5s ease;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -o-transform-origin: center center;
      -ms-transform-origin: center center;
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
  }
  
  #contakt {
    padding-top: 3vh;
    background-color: #f0c33d;
  }
  #contakt h2{
    text-align: center;
    font-size: 7vw;
    font-weight: 700;
    text-shadow: 0 0 2px black;
  }
  #contakt h3{
    text-align: center;
    font-weight: 500;
    font-size: 4.2vw;
    margin-bottom: 1.5vh;
  }
  #contakt .bolt {
    font-weight: 700;
  }
  #contakt div {
    width: auto;
    margin-bottom: 2vh;
  }
  #contakt div img {
    height: 7vh;
    width: 12vw;
    margin-top: 2vh;
  }
  .strelka {
    transform: scale(1);
    cursor: pointer;
    transition: all 1.5s ease;
}
  #contakt button {
    height: 15vw;
    width: 50vw;
    margin: 0 auto;
    border-radius: 15px;
    font-size: 4vw;
    box-shadow: inset -4px 4px black;
  }
  #contakt p {
    margin-top: 2vh;
    text-align:  center;
    font-size: 3.4vw;
  }
  #contakt a {
    text-decoration: none;
    color: #030303;
    font-size: 6vw;
    font-weight: 700;
  }
  #contakt img {
    height: 7vh;
    margin-right: 2vw;
  }
  #contakt .end {
    margin-top: 0;
  }
  footer {
    background-color: #0d0c0c;
    height: 14vh;
    padding: 0 8vw 0 8vw;
    color: #ffffff;
    font-size: 3.5vw;
  }
  footer .small {
    font-size: 2vw;
  }
  footer img {
    height: 5vh;
  }
  .md {
      font-size: 3vw;
  }
  .logoDtek {
    height: 1.5vh;
    position: relative;
    top: -13px;
    right: -75px;
    display: none;
}
  .cop p {
    line-height: 35%;
  }
  /* Начало стилей для формы регистрации */
  #black_fill {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
  }
    #white_fill {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 15;
      background-color: rgba(0, 0, 0, 0);
      display: none;  
    }
  #modal_box {
    display: none;
    position: fixed;
    top: 15vh;
    width: 80%;
    left: calc(50% - 40vw);
    z-index: 21;
  }
  #close_modal {
    width: 6vw;
    height: 6vw;
    fill: #fff;
    position: absolute;
    top: -6vw;
    right: -6vw;
    cursor: pointer;
    z-index: 21;
  }
  .login_box {
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.774);
    border-radius: 30px;
  }
  .login_box form {
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
  .form a {
    color: #ffc61a;
  }
  .login_label {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 22px;
  }
  .input, .select {
    width: 100%;
    margin-bottom: 5vh;
    text-align: center;
  }
  .input input, .select select {
    height: 5vh;
    width: 100%;
    border-radius: 16px;
    background-color: rgba(195, 195, 195, 1.00);
    transition: all 35ms linear;
    border: none;
    text-align: center;
  }
  .input button {
    width: 55%;
  }
  .input input:focus {
    transform: scale(1.05);
    outline: rgba(255, 162, 84, 1.00);
    background-color: #fff;
    transition: all 35ms linear;
  }
  .input button:hover {
    transition: all 35ms linear;
    transform: scale(1.05);
  }
  .btn1 {
    border: none;
    cursor: pointer;
  }
  .send {
    background-color: rgba(244, 115, 41, 1.00);
    color: #fff;
    height: 7vh;
    border-radius: 16px;
    width: 90%;
    transition: all 35ms linear;
  }
  /* Конец стилей для формы отправки коментария */
}